<div class="container">

    <footer class="footer-container">
        <article class="footer-informacoes">
            <h2>Informações</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ut qui mollitia laudantium illum magnam suscipit itaque rem dolores unde molestiae, soluta id consectetur consequatur veniam tempore enim pariatur dolorem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ut qui mollitia laudantium illum magnam suscipit itaque rem dolores unde molestiae, soluta id consectetur consequatur veniam tempore enim pariatur dolorem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ut qui mollitia laudantium illum magnam suscipit itaque rem dolores unde molestiae, soluta id consectetur consequatur veniam tempore enim pariatur dolorem?</p>
        </article>
        <article>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31106.165032855915!2d-38.64983639083816!3d-12.954526794685979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x716071c87d062db%3A0xb27afa569ef7eb9d!2sVera%20Cruz%2C%20BA!5e0!3m2!1spt-BR!2sbr!4v1659190758164!5m2!1spt-BR!2sbr" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </article>
    </footer>
    <p class="p">Vera Cruz-Ba, Estrada: BA-001, Rua principal de Vera Cruz-Ba<br> &copy;Todos os direitos reservados</p>
    
</div>